<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xue.mapper.AlertMapper">

    <resultMap id="AlertEntityResultMap" type="com.xue.entity.AlertEntity">
        <result column="ALERT_ID" jdbcType="INTEGER" property="alertID" />
        <result column="ALERT_LENGTH" jdbcType="VARCHAR" property="alertLength" />
        <result column="ALERT_WIDTH" jdbcType="VARCHAR" property="alertWidth" />
        <result column="ALERT_ANGLE" jdbcType="VARCHAR" property="alertAngle" />
        <result column="ALERT_TYPE" jdbcType="INTEGER" property="alertTYPE" />
        <result column="ALERT_LNG" jdbcType="VARCHAR" property="alertLng" />
        <result column="ALERT_LAT" jdbcType="VARCHAR" property="alertLat" />
    </resultMap>

    <insert id="insertAlert" parameterType="com.xue.entity.AlertEntity" useGeneratedKeys="true">
        insert into SmartTraffic.ALERT (ALERT_ID, ALERT_LENGTH, ALERT_WIDTH,
                                        ALERT_ANGLE, ALERT_TYPE, ALERT_LNG,ALERT_LAT)
        values (#{alertID,jdbcType=INTEGER}, #{alertLength,jdbcType=VARCHAR}, #{alertWidth,jdbcType=VARCHAR},
                #{alertAngle,jdbcType=VARCHAR}, #{alertTYPE,jdbcType=INTEGER}, #{alertLng,jdbcType=VARCHAR},
                #{alertLat,jdbcType=VARCHAR})
    </insert>

    <delete id="delAlert" >
        delete from SmartTraffic.ALERT
        where ALERT_ID = #{alertID,jdbcType=INTEGER}
    </delete>


    <select id="getAlertById" resultMap="AlertEntityResultMap"
            parameterType="int">
        select *
        from SmartTraffic.ALERT
        where ALERT_ID=#{alertID,jdbcType=INTEGER}
    </select>

    <select id="getAlertAll" resultMap="AlertEntityResultMap">
        select *
        from SmartTraffic.ALERT
    </select>


    <update id="updateAlertById" parameterType="com.xue.entity.AlertEntity">
        update SmartTraffic.ALERT
        <set>
            <if test="alertLength != null">
                ALERT_LENGTH = #{alertLength,jdbcType=VARCHAR},
            </if>
            <if test="alertWidth != null">
                ALERT_WIDTH = #{alertWidth,jdbcType=VARCHAR},
            </if>
            <if test="alertAngle != null">
                ALERT_ANGLE = #{alertAngle,jdbcType=VARCHAR},
            </if>
            <if test="alertTYPE != null">
                ALERT_TYPE = #{alertTYPE,jdbcType=INTEGER},
            </if>
            <if test="alertLng != null">
                ALERT_LNG = #{alertLng,jdbcType=VARCHAR},
            </if>
            <if test="alertLat != null">
                ALERT_LAT = #{alertLat,jdbcType=VARCHAR},
            </if>
        </set>
        where ALERT_ID = #{alertID,jdbcType=INTEGER}
    </update>


</mapper>
