<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xue.mapper.AlertMapper">

    <resultMap id="AlertEntityResultMap" type="com.xue.entity.AlertEntity">
        <result column="ALERT_ID" jdbcType="INTEGER" property="stationId" />
        <result column="ALERT_LENGTH" jdbcType="INTEGER" property="length" />
        <result column="ALERT_WIDTH" jdbcType="INTEGER" property="width" />
        <result column="ALERT_TYPE" jdbcType="INTEGER" property="type" />
        <result column="ALERT_LNG" jdbcType="DOUBLE" property="longitude" />
        <result column="ALERT_LAT" jdbcType="DOUBLE" property="latitude" />
    </resultMap>

    <insert id="insertAlert" parameterType="com.xue.entity.AlertEntity" useGeneratedKeys="true">
        insert into SmartTraffic.ALERT (ALERT_ID, ALERT_LENGTH, ALERT_WIDTH,
                                        ALERT_TYPE, ALERT_LNG,ALERT_LAT)
        values (#{stationId,jdbcType=INTEGER}, #{length,jdbcType=INTEGER}, #{width,jdbcType=INTEGER},
                #{type,jdbcType=INTEGER}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE})
    </insert>

    <delete id="delAlert" >
        delete from SmartTraffic.ALERT
        where ALERT_ID = #{stationId,jdbcType=INTEGER}
    </delete>


    <select id="getAlertById" resultMap="AlertEntityResultMap"
            parameterType="int">
        select *
        from SmartTraffic.ALERT
        where ALERT_ID=#{stationId,jdbcType=INTEGER}
    </select>

    <select id="getAlertAll" resultMap="AlertEntityResultMap">
        select *
        from SmartTraffic.ALERT
    </select>


    <update id="updateAlertById" parameterType="com.xue.entity.AlertEntity">
        update SmartTraffic.ALERT
        <set>
            <if test="length != null">
                ALERT_LENGTH = #{length,jdbcType=INTEGER},
            </if>
            <if test="width != null">
                ALERT_WIDTH = #{width,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                ALERT_TYPE = #{type,jdbcType=INTEGER},
            </if>
            <if test="longitude != null">
                ALERT_LNG = #{longitude,jdbcType=DOUBLE},
            </if>
            <if test="latitude != null">
                ALERT_LAT = #{latitude,jdbcType=DOUBLE},
            </if>
        </set>
        where ALERT_ID = #{stationId,jdbcType=INTEGER}
    </update>

    <insert id="insertIfNotExistenceOrUpdateIfExistence">
        insert into ALERT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stationId != null">ALERT_ID,</if>
            <if test="length != null">ALERT_LENGTH,</if>
            <if test="width != null">ALERT_WIDTH,</if>
            <if test="type != null">ALERT_TYPE,</if>
            <if test="longitude != null">ALERT_LNG,</if>
            <if test="latitude != null">ALERT_LAT,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stationId != null">#{stationId,jdbcType=INTEGER},</if>
            <if test="length != null">#{length,jdbcType=INTEGER},</if>
            <if test="width != null">#{width,jdbcType=INTEGER},</if>
            <if test="type != null">#{type,jdbcType=INTEGER},</if>
            <if test="longitude != null">#{longitude,jdbcType=DOUBLE},</if>
            <if test="latitude != null">#{latitude,jdbcType=DOUBLE},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="length != null">ALERT_LENGTH=#{length},</if>
            <if test="width != null">ALERT_WIDTH=#{width},</if>
            <if test="type != null">ALERT_TYPE=#{type},</if>
            <if test="longitude != null">ALERT_LNG=#{longitude},</if>
            <if test="latitude != null">ALERT_LAT=#{latitude},</if>
        </trim>
    </insert>


</mapper>
