<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xue.mapper.CarMapper">

    <resultMap id="CarEntityResultMap" type="com.xue.entity.CarEntity">
        <result column="CAR_ID" jdbcType="INTEGER" property="carID" />
        <result column="CAR_NAME" jdbcType="VARCHAR" property="carName" />
        <result column="CAR_LENGTH" jdbcType="VARCHAR" property="carLength" />
        <result column="CAR_WIDTH" jdbcType="VARCHAR" property="carWidth" />
        <result column="CAR_COLOR" jdbcType="VARCHAR" property="carColor" />
        <result column="CAR_DIRECTION" jdbcType="VARCHAR" property="carDirection" />
        <result column="CAR_LNG" jdbcType="VARCHAR" property="carLng" />
        <result column="CAR_LAT" jdbcType="VARCHAR" property="carLat" />
    </resultMap>

    <insert id="insertCar" parameterType="com.xue.entity.CarEntity" useGeneratedKeys="true">
        insert into SmartTraffic.CAR (CAR_ID, CAR_NAME, CAR_LENGTH, CAR_WIDTH,
                                      CAR_COLOR, CAR_DIRECTION, CAR_LNG, CAR_LAT)
        values (#{carID,jdbcType=INTEGER}, #{carName,jdbcType=VARCHAR}, #{carLength,jdbcType=VARCHAR}, #{carWidth,jdbcType=VARCHAR},
                #{carColor,jdbcType=VARCHAR}, #{carDirection,jdbcType=VARCHAR}, #{carLng,jdbcType=VARCHAR}, #{carLat,jdbcType=VARCHAR})
    </insert>

    <delete id="delCar" >
        delete from SmartTraffic.CAR
        where CAR_ID = #{carID,jdbcType=INTEGER}
    </delete>


    <select id="getCarById" resultMap="CarEntityResultMap"
            parameterType="int">
        select *
        from SmartTraffic.CAR
        where CAR_ID=#{carID,jdbcType=INTEGER}
    </select>

    <select id="getCarAll" resultMap="CarEntityResultMap">
        select *
        from SmartTraffic.CAR
    </select>


    <update id="updateCarById" parameterType="com.xue.entity.CarEntity">
        update SmartTraffic.CAR
        <set>
            <if test="carName != null">
                CAR_NAME = #{carName,jdbcType=VARCHAR},
            </if>
            <if test="carLength != null">
                CAR_LENGTH = #{carLength,jdbcType=VARCHAR},
            </if>
            <if test="carWidth != null">
                CAR_WIDTH = #{carWidth,jdbcType=VARCHAR},
            </if>
            <if test="carColor != null">
                CAR_COLOR = #{carColor,jdbcType=VARCHAR},
            </if>
            <if test="carDirection != null">
                CAR_DIRECTION = #{carDirection,jdbcType=VARCHAR},
            </if>
            <if test="carLng != null">
                CAR_LNG = #{carLng,jdbcType=VARCHAR},
            </if>
            <if test="carLat != null">
                CAR_LAT = #{carLat,jdbcType=VARCHAR},
            </if>
        </set>
        where CAR_ID=#{carID,jdbcType=INTEGER}
    </update>


</mapper>
