<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xue.mapper.CarMapper">

    <resultMap id="CarEntityResultMap" type="com.xue.entity.CarEntity">
        <result column="CAR_ID" jdbcType="INTEGER" property="stationId" />
        <result column="CAR_NAME" jdbcType="VARCHAR" property="carName" />
        <result column="CAR_LENGTH" jdbcType="INTEGER" property="length" />
        <result column="CAR_WIDTH" jdbcType="INTEGER" property="width" />
        <result column="CAR_COLOR" jdbcType="VARCHAR" property="carColor" />
        <result column="CAR_DIRECTION" jdbcType="INTEGER" property="direction" />
        <result column="CAR_LNG" jdbcType="DOUBLE" property="longitude" />
        <result column="CAR_LAT" jdbcType="DOUBLE" property="latitude" />
        <result column="IS_VIRTUAL_CAR" jdbcType="BOOLEAN" property="virtualCar" />
    </resultMap>

    <insert id="insertCar" parameterType="com.xue.entity.CarEntity" useGeneratedKeys="true">
        insert into SmartTraffic.CAR (CAR_ID, CAR_NAME, CAR_LENGTH, CAR_WIDTH,
                                      CAR_COLOR, CAR_DIRECTION, CAR_LNG, CAR_LAT, IS_VIRTUAL_CAR)
        values (#{stationId,jdbcType=INTEGER}, #{carName,jdbcType=VARCHAR}, #{length,jdbcType=INTEGER},
                #{width,jdbcType=INTEGER},#{carColor,jdbcType=VARCHAR}, #{direction,jdbcType=INTEGER},
                #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE},  #{virtualCar,jdbcType=BOOLEAN})
    </insert>

    <delete id="delCar" >
        delete from SmartTraffic.CAR
        where CAR_ID = #{stationId,jdbcType=INTEGER}
    </delete>


    <select id="getCarById" resultMap="CarEntityResultMap"
            parameterType="int">
        select *
        from SmartTraffic.CAR
        where CAR_ID=#{stationId,jdbcType=INTEGER}
    </select>

    <select id="getCarAll" resultMap="CarEntityResultMap">
        select *
        from SmartTraffic.CAR
    </select>


    <update id="updateCarById" parameterType="com.xue.entity.CarEntity">
        update SmartTraffic.CAR
        <set>
            <if test="carName != null">
                CAR_NAME = #{carName,jdbcType=VARCHAR},
            </if>
            <if test="length != null">
                CAR_LENGTH = #{length,jdbcType=INTEGER},
            </if>
            <if test="width != null">
                CAR_WIDTH = #{width,jdbcType=INTEGER},
            </if>
            <if test="carColor != null">
                CAR_COLOR = #{carColor,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                CAR_DIRECTION = #{direction,jdbcType=INTEGER},
            </if>
            <if test="longitude != null">
                CAR_LNG = #{longitude,jdbcType=DOUBLE},
            </if>
            <if test="latitude != null">
                CAR_LAT = #{latitude,jdbcType=DOUBLE},
            </if>
            <if test="virtualCar!= null">
                IS_VIRTUAL_CAR = #{virtualCar,jdbcType=BOOLEAN},
            </if>
        </set>
        where CAR_ID=#{stationId,jdbcType=INTEGER}
    </update>


</mapper>
